div {color: red
}

body{
    background-color: greenyellow;
}

body {background-color: greenyellow }
#voetbal {float:right;}


button {
    background-color: blue;
    color: whitesmoke
}

#team { transition: filter .5s ease-in-out;
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
}

#team:hover{-webkit-filter: grayscale(100%);
filter: grayscale(100%);}

#team {display: block; 
margin-top: 5%;       
margin-bottom: auto;       
margin-left: auto;
margin-right: auto; }

/*img {align= "right"}*/
/*
img {background-image: url("voetbal.jpg");opacity: 0.5; filter: alpha(opacity=50);}*/


footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: auto;
    padding-right: auto;
    background-color: #555;
    color: white;
    font-size: 20px;
    text-align: center;
    
}
