div {color: red
}

body{
    background-color: greenyellow;
}


button {
    background-color: blue;
    color: whitesmoke
}
/*
img {background-image: url("voetbal.jpg");opacity: 0.5; filter: alpha(opacity=50);}*/


footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: auto;
    padding-right: auto;
    background-color: #555;
    color: white;
    font-size: 20px;
    text-align: center;
    
}
